.cal-container
{
    width: 300px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding-bottom: 50px;
}
.cal-brand
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding: 15px;

}
.cal-text
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 50px;
    margin-top: -15px;
    background-color: #cccccc;

}
.small-screen-container
{
   display: flex;
   justify-content: end;
   padding: 10px;
   margin-right: 20px;
}

.small-screen
{
    background-color:  #ff6666;
    border: 1px solid black;
    width: 15px;
    height: 15px;
}
.but-row
{
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;

}

.cal-button
{
   
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
}

.but-calspan
{
   width: 130px;
   height: 50px;
   border: none;
   border-radius: 20px;
}

.but-color
{
    background-color: #FF9800;
    color: white;
}

.but-color1
{
    background-color: #999999;
}

.but-color2
{
    background-color: #595959;
    color: white;
}